doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    title
    style(type='text/css')
     include style.css
    <!--[if (gte mso 9)|(IE)]>
    style.
      body {
        line-height: auto;
      }
    <![endif]-->
  body(bgcolor='#94C5E7', style='margin:0; padding:0; width:100% !important; background-color:#94C5E7;')
    block content
