div(style="background-color: #444444;")
  <!--[if (gte mso 9)|(IE)]><table width="100%" align="center" role="presentation"><tr><td align="center" valign="top" bgcolor="#444444"><table width="580" align="center" role="presentation"><tr><td align="left" valign="top"><!-[endif]-->
  div(style="max-width: 600px; padding: 10px 10px 30px; margin: 0 auto; color: #ffffff")
    h3(style="margin-bottom: 10px;") Üdvözlettel:
    div(style="text-align: center; font-size: 0;")
      div.widthFull(style="width: 50%; display: inline-block;")
        each name in ['Bardócz <br>Csaba', 'Horváth <br>Eszter', 'Le <br>Marietta']
          div(style="vertical-align: top; box-sizing: border-box; padding: 10px; width: 33.33333%; display: inline-block;")
            img.profile(style="max-width: 100%;" src="http://www.placecage.com/200/200" width="100")
            div(style="font-size:13px; padding-top: 5px; line-height: 15px; ") !{name}
      div.widthFull(style="width: 50%; display: inline-block;")
        each name in ['Lukács <br>Máté', 'Sági <br>Kata', 'S-N <br>Szabolcs' ]
          div(style="vertical-align: top; box-sizing: border-box; padding: 10px; width:  33.33333%; display: inline-block;")
            img.profile(style="max-width: 100%;" src="http://www.placecage.com/200/200" width="100")
            div(style="font-size:13px; padding-top: 5px; line-height: 15px;") !{name}
    br
    | Járókelő Megoldókulcs csapat
  <!--[if (gte mso 9)|(IE)]></td></tr></table></td></tr></table><![endif]-->
