<!--[if (gte mso 9)|(IE)]><table width="600" align="center" role="presentation"><tr><td align="left" valign="top"><![endif]-->
div(style="max-width: 600px; margin: 0 auto;")
  img.photo(src="https://gallery.mailchimp.com/ebb83c9079993c3a8ba582b82/images/553ae1b4-a469-43d9-9bc7-ed8c706d2ba3.jpg" width="600" height="245" mc:edit="hero_img" style="display: block; border: 0px;" alt="Madarak és fák napja. Május 6. Kazinczy utca")
<!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
