div(style="background: #2e4b9b")
  br
  div(style="max-width: 600px; margin: 0 auto; padding: 0 10px;")
    div(style="color: #fff; border-radius: 3px 3px 3px 3px; padding: 20px 15px 20px 15px;")
      h3 Ha megosztod, megoldod.
      p.
        Az idén már a Járókelőt is támogathatod az adód 1%-ával. Támogass minket 2017-ben,
        hogy még több várossal és bejelentéssel tudjon a csapatunk foglalkozni!
        Ide kattinva tudsz magadnak egy kitöltött rendelkező nyilatkozatot generálni.
      br
      div(style="text-align: center")
        a(href="https://jarokelo.hu" style="background-color: #ef7940; font-size: 18px; padding: 9px 15px; color: #fff; border: 0; border-radius: 20px;") Megnézem
  br
