div(style="background-color: #2e4b9b;")
  <!--[if (gte mso 9)|(IE)]><table width="100%" align="center" role="presentation"><tr><td align="center" valign="top" bgcolor="#375BA9"><table width="580" align="center" role="presentation"><tr><td align="left" valign="top"><!-[endif]-->
  //- div.background-image
    br
  div(style="max-width: 600px; margin: 0 auto; padding: 0 10px 0 10px;")
    each val in [1, 2, 3, 4, 5]
      <!--[if (gte mso 9)|(IE)]><table width="100%" align="center" role="presentation" cellpadding="10"><tr><td align="left" valign="top"><!-[endif]-->
      div(style="background-color: #ffffff; border-radius: 3px 3px 3px 3px; padding: 20px 15px 20px 15px;")
        b III. kerület
        | : A Tímár utcai átkelőhely felfestését jó időtől tették függővé, ezek szerint január óta nem volt jó idő.&nbsp;
        a(href="http://jarokelo.hu") Megnézem
      <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
      br

  <!--[if (gte mso 9)|(IE)]></td></tr></table></td></tr></table><![endif]-->
