div()
  div(style="max-width: 600px; margin: 0 auto; padding: 0 10px;")
    div(style="color: #ffffff; border-radius: 3px 3px 3px 3px; padding: 20px 15px 40px 15px; text-align: center;")
      h3 Belefutottál egy új problémába?
      p Itt az idő, hogy megoszd velünk! Segítünk megoldani.
      br
      a.submit_button(style="background-color: #ef7940; font-size: 16px; padding: 17px 30px; color: #fff; border: 0; border-radius: 31px") Bejelentek egy problémát
